export OWNDA_APPLICATION_HOST=0.0.0.0
export OWNDA_APPLICATION_PORT=8000
export OWNDA_APPLICATION_GRAPHQL_PATH=/graphql
export OWNDA_APPLICATION_GRAPHQL_PLAYGROUND=true

export OWNDA_DATABASE_HOST=127.0.0.1
export OWNDA_DATABASE_PORT=5432
export OWNDA_DATABASE_USERNAME=root
export OWNDA_DATABASE_PASSWORD=root
export OWNDA_DATABASE_NAME=ownda

export OWNDA_SECRET_JWT_ACCESS=jwt_access_key
export OWNDA_SECRET_JWT_REFRESH=jwt_refresh_key
